.home-button {
  text-decoration: none;
}
.agenda-content {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
  color: rgb(11, 109, 4, 0.8);
}
.date-input {
  padding: 8px 12px 8px 24px;
  width: 100%;
  border-style: solid;
  border-color: rgb(11, 109, 4, 0.8);
  border-radius: 12px;
  color: rgb(11, 109, 4, 0.6);
  font-size: 16px;
  margin: 8px;
}
.add-button {
  margin: 8px;
}
.table-content {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.table1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
td {
  margin: 12px;
  padding: 8px 20px 0 20px;
}
.button-2 {
  width: auto;
  height: auto;
  border-radius: 5px;
  border: 2px solid;
  border-color: rgb(11, 109, 4);
  margin: 8px;
  font-size: 16px;
  color: rgb(11, 109, 4);
  background-color: rgb(180, 255, 172);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(69, 68, 68);
}
.button-2:hover {
  background-color: rgb(180, 255, 172, 0.7);
  color: rgb(11, 109, 4, 0.8);
  border-color: rgb(11, 109, 4, 0.7);
  box-shadow: 3px 3px 5px rgb(69, 68, 68);
}
.modal-content {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(208, 208, 208, 0.6);
}
.modal-add {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(208, 208, 208, 0.8);
  color: rgb(11, 109, 4);
  padding: 24px;
}
